<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Neto Deolino</title>

<!-- Icon favicon -->
<link rel="shortcut icon" href="../img/favicon.ico" />

<!-- Bootstrap core CSS -->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="../vendor/font-awesome/css/font-awesome.min.css"
  rel="stylesheet" type="text/css">
<link
  href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic'
  rel='stylesheet' type='text/css'>
<link
  href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
  rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="../css/clean-blog.min.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top"
    id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="../index.html">Neto Deolino</a>
      <button class="navbar-toggler navbar-toggler-right" type="button"
        data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="../about.html">About</a></li>
			<li class="nav-item">
              <a class="nav-link" href="../curriculo.html">Resume</a>
            </li>
          <li class="nav-item"><a class="nav-link"
            href="../contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead"
    style="background-image: url('../img/sql.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Criando querys mais complexas com QueryDSL</h1>
            <h2 class="subheading">Desenvolvimento</h2>
            <span class="meta">Postado por <a target="_blank"
              href="https://www.linkedin.com/in/netodeolino/">Neto Deolino</a>
              em 5 de setembro, 2018
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2 id="">
            <a href="#PARTE-01-Quando-e-por-que-usar-o-QueryDSL" class="headerlink"
              title="Quando e por que usar o QueryDSL?"></a>
              PARTE 01 - Quando e por que usar o QueryDSL?
          </h2>
          <p>
            O QueryDSL pode ser usado em seu projeto quando existir a necessidade de fazer consultas no banco de dados que sejam mais complexas, seja com uso de alguma ferramenta de ORM, como o Hibernate, ou com o SQL. Digamos então que você possui uma tela de pesquisa com muitos campos para filtro da mesma. Fazer uma pesquisa filtrando os dados buscados no banco de dados através do uso somente do SQL, dependendo da quantidade de campos e das restrições necessárias para que seja retornado os dados corretos, pode ficar bastante complexo. Mesmo com o uso de uma ferramenta como o Hibernate junto com o JpaRepository (Java) a pesquisa ainda fica difícil de ser implementada, justamente pela quantidade de campos e restrições que podem existir. É a partir desse momento que o QueryDSL entra em cena :)
          </p>
          <p>
            <img style="width: 100%"
              src="../img/parte-1-qdsl.png"
              alt="Image 01">
          </p>
          <h2 id="">
            <a href="#PARTE-02-Configurando-o-QueryDSL" class="headerlink"
              title="Configurando o QueryDSL"></a>
              PARTE 02 - Configurando o QueryDSL
          </h2>
          <p>
            Primeiro adicionamos as dependências do QueryDSL no arquivo <code>pom.xml</code> do nosso projeto Java com Spring.
          </p>
          <figure class="highlight xml">
            <script src="https://gist.github.com/netodeolino/a44f4daacbc0bcd857012a53d0982b49.js">
            </script>
          </figure>
          <p>
            Após adicionar as depêndencias é necessário atualizar o projeto fazendo um Clean e um Update no maven (caso não esteja utilizando o maven, realizar procedimento de acordo com a ferramenta de seu uso atual) para que os tipos Query de cada classe sejam gerados.
          </p>
          <p>
            Os tipos Query de cada classe são gerados para serem utilizados pelo QueryDSL nas suas consultas ao banco de dados.
          </p>
          <h2 id="">
            <a href="#PARTE-03-Fazendo-consultas-com-o-QueryDSL" class="headerlink"
              title="Fazendo consultas com o QuerySQL"></a>
              PARTE 03 - Fazendo consultas com o QuerySQL
          </h2>
          <p>
            Digamos que em nosso sistema temos a seguinte estrutura, onde uma Pessoa possui um ou mais Cargo e essa lista de Cargo é FetchType LAZY, ou seja, se quisermos recuperar as informações dessa lista precisamos fazer um JOIN entre Pessoa e Cargo.
          </p>
          <figure class="highlight xml">
            <script src="https://gist.github.com/netodeolino/4b66217c35058b0608f7933f82b28f6f.js">
            </script>
          </figure>
          <p>
            Recuperar todos os usuários do sistema sem ter o problema de LazyInitializationException, por exemplo, se torna bastante simples com o QueryDSL, pois basta fazer uma consulta como a figura abaixo.
            Com o <code>query</code> adicionamos as condições que quisermos, e claro, elas podem ser passadas como parâmetro do método também!
          </p>
          <figure class="highlight xml">
            <script src="https://gist.github.com/netodeolino/da90e6edd16608ee300f3ebe6436c346.js">
            </script>
          </figure>
          <p>
            E por momento é isso pessoal. Quaisquer dúvidas, sugestões e afins é só comentar aqui embaixou ou entrar em contato por email. Em uma outra postagem vou falar sobre o MyBatis para também fazer consultas
            mais complexas com Java, bancos relacionais e Spring :)
          </p>

          <!-- Comments -->
          <hr />
          <h3>Comentários:</h3>
          <div id="disqus_thread">
            <div id="disqus_thread"></div>
          <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            var disqus_config = function () {
              this.page.url = "https://netodeolino.github.io/Criando-querys-mais-complexas-com-QueryDSL";  // Replace PAGE_URL with your page's canonical URL variable
              //this.page.identifier = <%= dados.id_postagem %>; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              //alert(<%= dados.titulo %>);
            };

            (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://deolinoneto.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          </div>
        </div>
      </div>
  </article>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item"><a href="mailto:netodeolino@gmail.com" target="_blank"> <span
                class="fa-stack fa-lg"> <i
                  class="fa fa-circle fa-stack-2x"></i> <i
                  class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
              </span>
            </a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/netodeolino/" target="_blank"> <span
                class="fa-stack fa-lg"> <i
                  class="fa fa-circle fa-stack-2x"></i> <i
                  class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a></li>
            <li class="list-inline-item"><a href="https://github.com/netodeolino" target="_blank"> <span
                class="fa-stack fa-lg"> <i
                  class="fa fa-circle fa-stack-2x"></i> <i
                  class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a></li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Neto Deolino 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../js/clean-blog.min.js"></script>

  <!-- Disqus Comments -->

  <script type="text/javascript">
    var disqus_shortname = 'netodeolino';

    (function() {
      var dsq = document.createElement('script');
      dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document
          .getElementsByTagName('body')[0]).appendChild(dsq);
    }());
  </script>

</body>

</html>
