<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Neto Deolino</title>

<!-- Icon favicon -->
<link rel="shortcut icon" href="../img/favicon.ico" />

<!-- Bootstrap core CSS -->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="../vendor/font-awesome/css/font-awesome.min.css"
  rel="stylesheet" type="text/css">
<link
  href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic'
  rel='stylesheet' type='text/css'>
<link
  href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
  rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="../css/clean-blog.min.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top"
    id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="../index.html">Neto Deolino</a>
      <button class="navbar-toggler navbar-toggler-right" type="button"
        data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="../about.html">About</a></li>
			<li class="nav-item">
              <a class="nav-link" href="../curriculo.html">Resume</a>
            </li>
          <li class="nav-item"><a class="nav-link" href="../contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead"
    style="background-image: url('../img/electron.svg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Um tutorial de uma simples aplicação usando Electron</h1>
            <h2 class="subheading">Desemvolvimento</h2>
            <span class="meta">Postado por <a target="_blank" href="https://www.linkedin.com/in/netodeolino/">Neto Deolino</a> em 22 de dezembro, 2016
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h3 id="Pre-requisitos">
            <a href="#Pre-requisitos" class="headerlink"
              title="Pré-requisitos:"></a>Pré-requisitos:
          </h3>
            <code>
              1. Node.js
            </code>
            <br/>
            <code>
              2. MySQL
            </code>
          <p>
            <br>
          </p>
          <h2 id="PARTE-01-Instalacao-Configuracao-e-Entendimento-do-Projeto">
            <a
              href="#PARTE-01-Instalacao-Configuracao-e-Entendimento-do-Projeto"
              class="headerlink"
              title="PARTE 01 - Instalação, Configuração e Entendimento do Projeto"></a>
            PARTE 01 - Instalação, Configuração e Entendimento do Projeto
          </h2>
          <p>
            Primeiro vamos usar o <b>Quick Start</b> para criar uma aplicação
            rápida do Electron. Essa aplicação nos fornecerá uma estrutura
            inicial para o projeto.
          </p>
          <p>
            Clone o repositório Quick Start:<br>
            <code>$ git clone
              https://github.com/electron/electron-quick-start</code>
          </p>
          <p>
            Entre no repositório:<br>
            <code> $ cd electron-quick-start </code>
          </p>
          <p>
            Instale as dependências e Execute pela primeira vez a aplicação:<br>
            <code> $ npm install &amp;&amp; npm start </code>
          </p>
          <p>A instalação das dependências vai ser igual ou similar a
            imagem abaixo:</p>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img01.png?raw=true"
              alt="Image 01">
          </p>
          <p>
            <br>
          </p>
          <p>A execução da aplicação vai ser similar a imagem abaixo:</p>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img02.png?raw=true"
              alt="Image 02">
          </p>
          <p>
            <br>
          </p>
          <p>
            Se analisarmos, alguns arquivos foram baixados no projeto, dentre
            eles estão
            <code>main.js</code>
            ,
            <code>index.html</code>
            ,
            <code>package.json</code>
            e a pasta
            <code>node_modules</code>
            . Vamos falar um pouco sobre cada um deles agora.
          </p>
          <h4 id="main-js">
            <a href="#main-js" class="headerlink" title="main.js"></a>main.js
          </h4>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img03.png?raw=true"
              alt="Image 03">
          </p>
          <p>Neste arquivo é configurado para nós a maioria dos recursos
            necessários para o início de um projeto, sendo este simples ou
            não. Algumas destas configurações são o tamanho da janela da
            aplicação, o caminho para a primeira tela, dentre outras coisas.</p>
          <h4 id="index-html">
            <a href="#index-html" class="headerlink" title="index.html"></a>index.html
          </h4>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img04.png?raw=true"
              alt="Image 04">
          </p>
          <p>Este arquivo é a página, ou a tela (uma vez que estamos
            falando de uma aplicação desktop), inicial da aplicação. Nela você
            pode criar um design e alguma interação inicial para outras telas
            usando de recursos como CSS, Bootstrap, dentre outros, como se
            estivesse criando uma aplicação Web.</p>
          <h4 id="package-json">
            <a href="#package-json" class="headerlink" title="package.json"></a>package.json
          </h4>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img05.png?raw=true"
              alt="Image 05">
          </p>
          <p>
            Todas as dependências necessárias que surgirem durante o
            desenvolvimento do seu projeto você pode instalar por este arquivo
            executando o comando
            <code>npm install</code>
            . Por exemplo, suponha que você vá trabalhar com MySQL, então você
            vem até este arquivo e em “devDependencies” adiciona
            <code>&quot;mysql&quot;: &quot;*&quot;</code>
            , com isto a última versão do MySQL é adicionado na sua pasta
            <code>node_modules</code>
            e fica disponível para ser usado por você no projeto usando o
            comando
            <code>require(“mysql”);</code>
            .
          </p>
          <h4 id="node-modules">
            <a href="#node-modules" class="headerlink" title="node_modules"></a>node_modules
          </h4>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img06.png?raw=true"
              alt="Image 06">
          </p>
          <p>Nesta pasta ficam instalados todas as dependências do
            projeto, como por exemplo o MySQL que foi falado no tópico
            anterior.</p>
          <p>
            <br>
          </p>
          <h2 id="PARTE-02-Criando-uma-aplicacao-simples">
            <a href="#PARTE-02-Criando-uma-aplicacao-simples"
              class="headerlink"
              title="PARTE 02 - Criando uma aplicação simples"></a>PARTE 02 -
            Criando uma aplicação simples
          </h2>
          <p>Agora chegou o momento de brincar um pouco com Electron.
            Vamos criar um visual mais bonito para a tela inicial da aplicação
            e criar um cadastro simples usando o banco MySQL. No meu exemplo
            vou fazer o uso de Bootstrap e JQuery mas os mesmos não são
            obrigatórios.</p>
          <p>
            <br>
          </p>
          <p>
            Primeiro vamos criar duas pastas para que o projeto fique mais
            organizado e modularizado. As pastas são
            <code>public</code>
            , onde ficarão os arquivos de CSS e JavaScript, e
            <code>views</code>
            , onde ficarão as demais telas da aplicação.
          </p>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img07.png?raw=true"
              alt="Image 07">
          </p>
          <p>
            <br>
          </p>
          <p>
            Também é necessário instalar o MySQL para que a conexão com o
            banco de dados seja possível.<br>Para instalar o MySQL
            adicione no arquivo
            <code>package.json</code>
            a dependência
            <code>&quot;mysql&quot;: &quot;*&quot;</code>
            . O mesmo irá ficar como a imagem abaixo. Posteriormente execute o
            comando
            <code>npm install</code>
            para que a dependência enfim seja instalada.
          </p>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img08.png?raw=true"
              alt="Image 08">
          </p>
          <p>
            <br>
          </p>
          <p>
            No arquivo
            <code>index.html</code>
            vamos criar um formulario de cadastro.
          </p>
          <figure class="highlight html">
            <script src="https://gist.github.com/netodeolino/5187823fd504af51b3be09e7401aaae5.js">
            </script>
          </figure>
          <p>
            Repare que no fim do formulário, mais precisamente no
            <code>button</code>
            tem uma chamada à função
            <code>realizarCadastro()</code>
            quando o botão é clicado. Vai ser essa função que vai realizar
            alguns procedimentos necessários para que aqueles dados digitados
            na tela sejam salvos no banco de dados.
          </p>
          <blockquote>
            <p>OBSERVAÇÃO: O Bootstrap está sendo utilizado neste
              formulário.</p>
          </blockquote>
          <p>O próximo passo então é criar um arquivo JavaScript onde
            iremos implementar a função de cadastro.</p>
          <p>
            Antes de criar o arquivo em si vamos criar as pastas de
            <code>CSS</code>
            e
            <code>JS</code>
            (JavaScript) assim como a imagem abaixo.
          </p>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img09.png?raw=true"
              alt="Image 09">
          </p>
          <p>
            <br>
          </p>
          <p>
            Dentro da pasta
            <code>js</code>
            vamos criar mais duas pastas, são elas
            <code>bd</code>
            , onde vão ficar os futuros arquivos de configuração do banco, e
            <code>controllers</code>
            , onde ficará os arquivos de controle da aplicação.
          </p>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img10.png?raw=true"
              alt="Image 10">
          </p>
          <p>
            <br>
          </p>
          <p>
            Finalmente, dentro de
            <code>controllers</code>
            vamos criar o arquivo
            <code>controller.js</code>
            onde irá ser implementado a função de cadastro.
          </p>
          <p>Na imagem abaixo mostro como a função vai ficar.</p>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img11.png?raw=true"
              alt="Image 11">
          </p>
          <p>
            <br>
          </p>
          <p>Agora vou mostrar o passo-a-passo necessário para que seja
            possível o cadastro de um usuário.</p>
          <p>
            Primeiro criamos o arquivo de conexão com o banco dentro da pasta
            <code>bd</code>
            chamado
            <code>ConexaoBanco.js</code>
            .
          </p>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img12.png?raw=true"
              alt="Image 12">
          </p>
          <p>
            <br>
          </p>
          <p>
            O próximo arquivo irá se chamar
            <code>UsuarioDAO.js</code>
            . É nele que irá ser implementado todas as funções que irão se
            comunicar com o banco. Exemplos: Salvar, Deletar, Atualizar,
            Dentre outros. No nosso exemplo vamos fazer somente o Salvar.
          </p>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img13.png?raw=true"
              alt="Image 13">
          </p>
          <p>
            <br>
          </p>
          <p>
            Para complementar o passo anterior vamos criar o arquivo
            <code>Usuario.js</code>
            que irá ser o objeto usuário do projeto (Similar ao model do MVC).
          </p>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img14.png?raw=true"
              alt="Image 14">
          </p>
          <p>
            <br>
          </p>
          <p>Por último vamos fazer o arquivo e a respectiva função que é
            chamada na tela inicial (index.html).</p>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img15.png?raw=true"
              alt="Image 15">
          </p>
          <p>
            <br>
          </p>
          <p>Vamos agora criar a base e uma tabela no banco MySQL.</p>
          <figure class="highlight sql">
            <script src="https://gist.github.com/netodeolino/bebc940f819f31163d86b49e46979970.js">
            </script>
          </figure>
          <p>
            No arquivo
            <code>index.html</code>
            é necessário importar os scripts criados por nós para que todas as
            funções necessárias funcionem corretamente.
          </p>
          <figure class="highlight javascript">
            <script src="https://gist.github.com/netodeolino/856e6913e1842731737f7c85fe3c0e8d.js">
            </script>
          </figure>
          <p>
            Vamos agora executar nossa aplicação. Para isso execute o comando
            <code>npm start</code>
            .
          </p>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img16.png?raw=true"
              alt="Image 16">
          </p>
          <p>
            <br>
          </p>
          <p>Fazendo um cadastro.</p>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img17.png?raw=true"
              alt="Image 17">
          </p>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img18.png?raw=true"
              alt="Image 18">
          </p>
          <p>
            <br>
          </p>
          <p>Olhando se deu certo no banco de dados.</p>
          <p>
            <img style="width: 100%"
              src="https://github.com/netodeolino/Tutoriais/blob/master/Criando%20uma%20aplica%C3%A7%C3%A3o%20Desktop%20com%20o%20Electron/Images/img19.png?raw=true"
              alt="Image 19">
          </p>
          <p>
            <br>
          </p>
          <h2 id="FIM">
            <a href="#FIM" class="headerlink" title="FIM!"></a>FIM!
          </h2>
          <p>Bom, espero que esse tutorial ajude á você a iniciar com
            seus primeiros projetos com Electron e respectivamente Node.js.
            Quaisquer dúvidas pode entrar em contato comigo pelo meu email que
            está na página inicial do meu GitHub. Obrigado e até mais!</p>

          <!-- Comments -->
          <hr />
          <h3>Comentários:</h3>
          <div id="disqus_thread">
            <div id="disqus_thread"></div>
          <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            var disqus_config = function () {
              this.page.url = "https://netodeolino.github.io/Criando-uma-aplicacao-Desktop-com-Electron-js";  // Replace PAGE_URL with your page's canonical URL variable
              //this.page.identifier = <%= dados.id_postagem %>; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              //alert(<%= dados.titulo %>);
            };

            (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://deolinoneto.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          </div>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item"><a href="mailto:netodeolino@gmail.com" target="_blank"> <span
                class="fa-stack fa-lg"> <i
                  class="fa fa-circle fa-stack-2x"></i> <i
                  class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
              </span>
            </a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/netodeolino/" target="_blank"> <span
                class="fa-stack fa-lg"> <i
                  class="fa fa-circle fa-stack-2x"></i> <i
                  class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a></li>
            <li class="list-inline-item"><a href="https://github.com/netodeolino" target="_blank"> <span
                class="fa-stack fa-lg"> <i
                  class="fa fa-circle fa-stack-2x"></i> <i
                  class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a></li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Neto Deolino 2021</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../js/clean-blog.min.js"></script>

  <!-- Disqus Comments -->
  <script type="text/javascript">
    var disqus_shortname = 'netodeolino';

    (function() {
      var dsq = document.createElement('script');
      dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document
          .getElementsByTagName('body')[0]).appendChild(dsq);
    }());
  </script>

</body>

</html>
